---
layout: default
title: Categories
---

<h1 style="color: #b5e853; font-size: 24px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
    ~/categories:
</h1>

<ul>
  {% for category in site.categories %}
    {% assign category_name = category[0] %}
    {% assign category_data = site.data.categories[category_name] %}
    <li>
      <a href="{{ '/category/' | append: category_name | prepend: site.baseurl | replace: '//', '/' }}"
        style="text-decoration: none">
        <span style="font-size: 20px;">
         {{ category_name }}
         ({{ category[1].size }} posts)
        </span>
      </a>

      {% if category_data.description %}
        <p style="color: #888; font-size: 16px; margin-top: 7px;">{{ category_data.description }}</p>
      {% endif %}

    </li>
  {% endfor %}
</ul>